<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>初期登録</title>
    <script src="../../static/js/main.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<!-- ThLoginController -->

<body>
    <div>
        <h3>用户名:<span th:text="${dbUser.userName}" /></h3>
        <button id="btn">重新登录</button>
        <button onclick="doRegist()">注册</button>
        <!--    <br>
 <a th:href="@{init}">重新登录</a>
 <a th:href="@{regist}">注册</a> -->
    </div>
    <script type="text/javascript">
    var demo = document.getElementById("btn");
    demo.onclick = function doinit() {
        // window.location.href="loginUser.html";
        // alert("click");
        window.location.href = "init";

    }
    </script>
    <div style="height: 20px; font-size: 15px">
        <h3 th:text="${message.reistInfo}" />
        <h3 th:text="${message.okInfo}" />
    </div>
</body>

</html>