<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>用户注册</title>
    <script src="../../static/js/main.js" type="text/javascript" charset="utf-8" async defer></script>
    <style type="text/css" media="screen">
    .btn{
        float: left;
        }
    </style>
    
</head>

<body>
    <div class="bodyContainer">
        <h3>用户注册</h3>
        <form th:action="@{add}" th:method="post">
            <div>
                <input type="text" name="userName" th:field="${dbUser.userName}">用户名</input>
            </div>
            <div>
                <input type="password" name="password" th:field="${dbUser.passWd}">密码</input>
            </div>
            <div>
                <input type="text" name="email" th:field="${dbUser.email}">邮箱</input>
            </div>
            <div>
                <input type="text" name="telephone" th:field="${dbUser.telephone}">电话号码</input>
            </div>
            <div class="btn">
                <input type="submit" name="register" value="注册">
            </div>
        </form>
        <div class="btn">
            <button type="" onclick="doLogin()">登录</button>
        </div>
        <div style="height: 20px; font-size: 15px">
            <h3 th:text="${message.reistInfo}" />
        </div>
    </div>
</body>

</html>