<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>国际化资源文件訪問</title>
</head>
<body>
  <ul>
    <h3>在Java代码中引用国际化文件</h3>
    <li>1.首先注入MessageSource</li>
    <li>2.然后通过LocaleContextHolder.getLocale()来获取当前Locale</li>
    <li>3.最后通messageSource.getMessage("hello.world", null,locale)来去对应的国际化资源文件中取消息。</li>
  </ul>
  <h3>roles.manager</h3>
  <p th:text="#{roles.manager}"></p>
  <h3>hello.world</h3>
  <p th:text="#{hello.world}"></p>
</body>
</html>