<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>用户信息一览</title>
    <style type="text/css" media="screen">
    td {
        height: 30px;
        /*background-color: #ffff00;*/
    }

    .header {
        font-size: 15px;
        background-color: #0000ff;
    }
    </style>
</head>
<!-- ThLoginController -->
<table border="1">
    <caption>userList</caption>
    <tr class="header">
        <td>用户名</td>
        <td>邮箱</td>
        <td>电话号码</td>
    </tr>
    <tr th:each="user:${dbUsers}">
        <td><span th:text="${user.userName}"></span></td>
        <td><span th:text="${user.email}"></span></td>
        <td><span th:text="${user.telephone}"></span></td>
    </tr>
</table>

<body>
</body>

</html>